# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2016-2021 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include .editorconfig
include .prettierrc
include .tx/config
include *.rst
include *.sh
include *.txt
include *.yml
include babel.ini
include docs/requirements.txt
include LICENSE
include pytest.ini
include invenio_communities/templates/semantic-ui/invenio_communities/community_theme_template.css
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include invenio_communities *.html *.jinja
recursive-include invenio_communities *.js
recursive-include invenio_communities *.json
recursive-include invenio_communities *.less
recursive-include invenio_communities *.png
recursive-include invenio_communities *.po *.pot *.mo
recursive-include invenio_communities *.py
recursive-include invenio_communities *.tpl
recursive-include tests *.html
recursive-include tests *.json
recursive-include tests *.py
include .git-blame-ignore-revs
