{# -*- coding: utf-8 -*-

  Copyright (C) 2024 CERN.
  Copyright (C) 2026 Northwestern University.

  invenio-communities is free software; you can redistribute it and/or modify it
  under the terms of the MIT License; see LICENSE file for more details.
#}
{% set invitation_request = notification.context.request %}
{% set receiver = invitation_request.receiver %}
{% set community = invitation_request.created_by %}
{% set message = notification.context.message | safe if notification.context.message else '' %}
{% set community_title = community.metadata.title %}
{% set receiver_name = receiver.username or receiver.profile.full_name %}
{# This email is sent to the community owners/managers so community link used #}
{% set request_link = invenio_url_for("invenio_app_rdm_requests.community_dashboard_request_view", pid_value=community.slug, request_pid_value=invitation_request.id) %}
{% set account_settings_link = invenio_url_for("invenio_notifications_settings.index") %}


{%- block subject -%}
  {{ _("⛔️ @{user_name} declined the invitation to join '{community_title}'").format(user_name=receiver_name, community_title=community_title) }}
{%- endblock subject -%}

{%- block html_body -%}
<table style="font-family:'Lato',Helvetica,Arial,sans-serif;border-spacing:15px">
    <tr>
        <td>{{ _("'@{user_name}' declined the invitation to join your community '{community_title}'").format(user_name=receiver_name, community_title=community_title) }}
        {% if message %}
        {{ _(" with the following message:")}}
        {% endif %}
        </td>
    </tr>
    <tr>
        {% if message %}
        <td><em>"{{message}}"</em></td>
        {% endif %}
    </tr>
    <tr>
        <td><a href="{{ request_link }}" class="button">{{ _("Check out the invitation")}}</a></td>
    </tr>
    <tr>
        <td><strong>_</strong></td>
    </tr>
    <tr>
        <td style="font-size:smaller">{{ _("This is an auto-generated message. To manage notifications, visit your")}} <a href="{{account_settings_link}}">{{ _("account settings")}}</a>.</td>
    </tr>
</table>
{%- endblock html_body %}

{%- block plain_body -%}
{{ _("@{user_name} declined the invitation to join your community {community_title}").format(user_name=receiver_name, community_title=community_title) }}

{% if message %}
{{ _("with the following message:")}}
{{message}}
{% endif %}

{{ _("Check out the invitation:") }} {{ request_link }}
{%- endblock plain_body %}

{# Markdown for Slack/Mattermost/chat #}
{%- block md_body -%}
{{ _("*@{user_name}* declined the invitation to join your community *{community_title}*").format(user_name=receiver_name, community_title=community_title) }}

{% if message %}
{{ _("with the following message:")}}
{{message}}
{% endif %}

[{{ _("Check out the invitation") }}]({{ request_link }})
{%- endblock md_body %}
