{# -*- coding: utf-8 -*-

  Copyright (C) 2026 Northwestern University.

  invenio-communities is free software; you can redistribute it and/or modify it
  under the terms of the MIT License; see LICENSE file for more details.
#}

{# Attention: Action-based notifications don't pass `message`, but a separate comment notification is sent so this is fine. #}
{% set request = notification.context.request %}
{% set community = request.receiver %}
{% set community_title = community["metadata"]["title"] %}
{% set created_by = request.created_by %}
{% set requester_name = created_by.username or created_by.profile.full_name %}
{# This email is sent to the community owners/managers so community link used #}
{% set request_link = invenio_url_for("invenio_app_rdm_requests.community_dashboard_membership_request_view", pid_value=community.slug, request_pid_value=request.id) %}
{% set account_settings_link = invenio_url_for("invenio_notifications_settings.index") %}


{%- block subject -%}
❌ {{ _("The request from '@{requester_name}' to join the community '{community_title}' was cancelled").format(requester_name=requester_name, community_title=community_title) }}
{%- endblock subject -%}


{%- block html_body -%}
<table style="font-family:'Lato',Helvetica,Arial,sans-serif;border-spacing:15px">
  <tr>
    <td>{{ _("The membership request from '@{requester_name}' to join the community '{community_title}' was cancelled").format(requester_name=requester_name, community_title=community_title) }}.</td>
  </tr>
  <tr>
    <td><a href="{{ request_link }}" class="button">{{ _("Check out the membership request")}}</a></td>
  </tr>
  <tr>
    <td><strong>_</strong></td>
  </tr>
  <tr>
    <td style="font-size:smaller">{{ _("This is an auto-generated message. To manage notifications, visit your")}} <a href="{{ account_settings_link }}">{{ _("account settings")}}</a>.</td>
  </tr>
</table>
{%- endblock html_body %}


{%- block plain_body -%}
{{ _("The membership request from '@{requester_name}' to join the community '{community_title}' was cancelled").format(requester_name=requester_name, community_title=community_title) }}.

{{ _("Check out the membership request") }}: {{ request_link }} .

{{ _("This is an auto-generated message. To manage notifications, visit your account settings") }}: {{ account_settings_link }} .
{%- endblock plain_body %}


{# Markdown for Slack/Mattermost/chat #}
{%- block md_body -%}
{{ _("The membership request from *@{requester_name}* to join the community *{community_title}* was cancelled").format(requester_name=requester_name, community_title=community_title) }}.

[{{ _("Check out the membership request") }}]({{ request_link }})

{{ _("This is an auto-generated message. To manage notifications, visit your [account
settings]({account_settings_link})").format(account_settings_link=account_settings_link) }}.
{%- endblock md_body %}
