# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2016-2024 CERN.
# Copyright (C) 2022-2024 Graz University of Technology.
# Copyright (C) 2024 KTH Royal Institute of Technology.
#
# Invenio is free software; you can redistribute it and/or modify
# it under the terms of the MIT License; see LICENSE file for more details.

name: CI

on:
  push:
    branches:
      - master
      - "feature/*"
  pull_request:
    branches:
      - master
      - "feature/*"
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 3 * * 6'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason'
        required: false
        default: 'Manual trigger'

jobs:
  Python:
      uses: inveniosoftware/workflows/.github/workflows/tests-python.yml@master
      with:
        extras: "tests"
        python-version: '["3.9", "3.11", "3.14"]'

  JS:
    uses: inveniosoftware/workflows/.github/workflows/tests-js.yml@master
    with:
      translations-working-directory: ./invenio_communities/assets/semantic-ui/translations/invenio_communities/
